@font-face {
  font-family: "sfpro";
  src: url("./assets/fonts/SFPro.ttf");
}
$primary-color: #fff;
$secundary-color: #f3f3f3;

* {
  font-family: "sfpro";
}

body {
  background: $secundary-color;
}

/* Header */
header {
  background: $primary-color;
}

.contenedor {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 12px 12px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.list {
  text-decoration: none;
  color: lightgray;
  margin: 0 25px 0 25px;
  font-size: 13px;
}

.contenedor__nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.icon {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 20px 0 20px;
}

.manzana {
  background-image: url(./assets/img/manzana.svg);
}

.lupa {
  background-image: url("./assets/img/lupa.svg");
}

.cesta {
  background-image: url("./assets/img/cesta.svg");
}

.head__text {
  text-align: center;
  font-size: 15px;
  margin: 8px;
  padding-top: 40px;
}

.text__mini {
  text-decoration: none;
  color: blue;
}

/* Header foto */
.b-header {
  background-image: url(./assets/img/iphone-se.jpeg);
  text-align: center;
  min-height: 700px;
  background-position: center;
  background-size: 1300px;
  background-color: #171717;
  background-repeat: no-repeat;
  padding-top: 50px;
  &__tittle {
    color: $primary-color;
    font-size: 58px;
    margin: 0px 5px;
    padding: 0;
  }
  &__text1 {
    color: $primary-color;
    font-size: 28px;
    margin: 0px 2px;
  }
  &__text2 {
    color: $primary-color;
    font-size: 28px;
    margin: 0px 2px;
  }
  &__text3 {
    color: gray;
    font-size: 18px;
    margin: 2px 2px;
    padding-bottom: 20px;
  }
  &__a1 {
    text-decoration: none;
    color: #009bfb;
    font-size: 23px;
    margin: 15px 15px;
  }
  &__a2 {
    text-decoration: none;
    color: #009bfb;
    font-size: 23px;
    margin: 15px 15px;
  }
}

/* main */
.c-header {
  background-image: url(./assets/img/iphone_11_white.jpeg);
  text-align: center;
  min-height: 700px;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-color: $secundary-color;
  background-repeat: no-repeat;
  padding-top: 50px;
  margin-bottom: 20px;
  &__tittle {
    color: black;
    font-size: 38px;
    margin: 0px 5px;
    padding: 5px;
  }
  &__text1 {
    color: black;
    font-size: 18px;
    margin: 0px 2px;
    padding-bottom: 5px;
  }
  &__text2 {
    color: gray;
    font-size: 15px;
    margin: 2px 2px;
    padding-bottom: 20px;
  }
  &__a1 {
    text-decoration: none;
    color: #009bfb;
    font-size: 13px;
    margin: 15px 15px;
  }
  &__a2 {
    text-decoration: none;
    color: #009bfb;
    font-size: 13px;
    margin: 15px 15px;
  }
}

/* iphone 11 pro */
.d-header {
  background-image: url(./assets/img/camara_ip11.jpeg);
  text-align: center;
  min-height: 700px;
  background-position: center;
  background-size: 1200px;
  background-color: black;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 0px;
  &__tittle {
    color: $primary-color;
    font-size: 38px;
    margin: 0px 5px;
    padding: 5px;
  }
  &__text1 {
    color: $primary-color;
    font-size: 18px;
    margin: 0px 2px;
    padding-bottom: 10px;
  }
  &__text2 {
    color: gray;
    font-size: 12px;
    margin: 2px 2px;
    padding-bottom: 15px;
  }
  &__a1 {
    text-decoration: none;
    color: #009bfb;
    font-size: 13px;
    margin: 15px 15px;
  }
  &__a2 {
    text-decoration: none;
    color: #009bfb;
    font-size: 13px;
    margin: 15px 15px;
  }
}

/* container box */
.container-box {
  background: $primary-color;
}
.box {
  &__img {
    width: 100%;
    height: 250px;
    margin: 2% 0%;
    object-fit: cover;
  }
}

.text__container {
  color: #9e9e9e;
  width: 70%;
  font-size: 10px;
  margin: 0 auto;
  border-bottom: 1px solid #d2d2d7;
}

.product {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  font-size: 12px;
  &__list {
    padding: 0;
  }
  &__item {
    list-style: none;
  }
  &__item a {
    color: #9e9e9e;
    text-decoration: none;
  }
}
.contact {
  width: 70%;
  margin: 0 auto;
  color: #757575;
  font-size: 12px;
  border-bottom: 1px solid #d2d2d7;
  &__text a {
    text-decoration: none;
    color: rgb(108, 152, 214);
    font-weight: bold;
  }
}
.copy__menu {
  width: 70%;
  margin: 5px auto;
  color: #757575;
  font-size: 12px;
}

.foot__nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 5px 10%;
  list-style: none;
  font-size: 12px;
}

.foot__nav a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #757575;
  font-weight: bold;
}
.separador {
  margin: 5px;
}
.spain {
  background-image: url(./assets/img/spain.svg);
}
